:root{
    --lamp-url: url(./img/lampOFF.png);
    --body-background: black;
    --body-color: white;
    --turn-background: rgb(20, 145, 55);
    --turn-color: white;
}
.dark-mode:root{
    --lamp-url: url(./img/lampON.png);
    --body-background: white;
    --body-color: black;
    --turn-background: rgb(190, 51, 51);
    --turn-color: black;
}

body{
    background: var(--body-background);
    color: var(--body-color);
    transition: transform 0.2s ease;
    -webkit-transition: background-color 1000ms ease-out;
    -ms-transition: background-color 1000ms ease-out;
    transition: background-color 1000ms ease-out;
    
}

#lamp{
    background: var(--lamp-url) bottom center no-repeat;
    width: 300px;
    height: 450px;
    transform: rotate(180deg);
}

header, main, .divTurn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.turnOnOff{
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--turn-background);
    border: none;
    font-size: 30px;
    color: var(--turn-color);
    margin-top: 160px;
    position: absolute;
    z-index: 2;
}
.turnOnOff:hover{
    transform: scale(1.1);
}
